

.covid-details{
    border:1px solid rgb(221, 221, 221);
    margin-top:1rem;
    padding:1rem;
    .flag{
        display:flex;
        align-items: center;
        p,img{
            margin-left:10px;
        }
    }
    p{
        margin:10px;
    }
}
